* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.head {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../resources/images/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    overflow: auto;
    /* margin-bottom: 60px; */
}

.nav {
    margin-top: 20px;
    margin-bottom: 50px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.nav-list li:hover {
    /* border-bottom: 2px solid #8e7754; */
    padding-bottom: 10px;
}

.nav-list li:nth-child(even):hover {
    border-bottom: 2px solid #FF0000;
}

.nav-list li:nth-child(odd):hover {
    border-bottom: 2px solid #FFE000;
}

.nav .nav-logo {
    width: 7%;
    float: left;
}

.nav-logo img {
    width: 100%;
}

.nav-list ul {
    float: right;
}

.clr {
    clear: both;
}

.nav-list ul li {
    float: left;
    padding: 18px;
    font-size: 18px;
}

.container {
    width: 90%;
    margin: auto;
}

.head-cap {
    text-align: center;
}

.head-cap p {
    color: white;
    font-size: 25px;
}

.head-cap h1 {
    color: white;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.head-cap h1 .par01 {
    color: #FFE000;
}

.head-cap h1 .par02 {
    color: #FF0000;
}

.head-cap .btn {
    margin-top: 40px;
    padding: 20px 25px;
    border-radius: 5px;
    margin-right: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.head-cap .btn-learn {
    background-color: #524037;
    border-width: 0;
}

.head-cap .btn-learn:hover {
    background-color: #B0926A;
}

.head-cap .btn-contact {
    background-color: transparent;
    border: 2px solid white;
}

/* .about{
    background-color: #E6E6E6;
    padding-top: 60px;
} */

.who-img {
    width: 40%;
    float: left;
}

.who img,
.delivery img {
    width: 100%;
}

.who-cap {
    text-align: center;
    width: 55%;
    float: right;
    padding-top: 40px;
}

h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    color: #686868;
    font-size: 23px;
    margin-bottom: 30px;
}

.who-cap .who-cap-items {
    text-align: left;
    margin-top: 50px;
    padding-left: 40px;
}

.who-cap .who-cap-items .item .item-img {
    width: 6%;
    float: left;
}

.who-cap .who-cap-items .item .item-img img {
    width: 100%;
}

.who-cap .who-cap-items .item p {
    float: left;
    margin-left: 20px;
    margin-top: 9px;
}

.who-cap h2 {
    color: #BD0901;
}

.who {
    padding: 50px 0;
    background-color: #E6E6E6;
}

.location-img {
    width: 45%;
    float: right;
}

.delivery .small-line {
    border-color: #EF3237;
}


.location .location-cap {
    float: left;
    text-align: center;
    width: 50%;
}

.delivery h2 {
    color: #fff;
}

.delivery q {
    color: #E3651D;
    font-size: 32px;
    font-weight: bold;
}

.delivery {
    padding: 80px 0;
    background-color: #FEC736;
}

.best {
    background-color: #E65628;
    padding: 80px 0;
}

.best-cap {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}


.best-item {
    width: 30%;
    float: left;
    margin-right: 3%;
    text-align: center;
    border-radius: 20px;
    background-color: #FDFDFB;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


.best-item-img img {
    width: 100%;
}

.best-items {
    margin: auto;
}

.best-item3 h3 {
    padding: 8px;
}

.best-item h3 {
    margin: 15px 0 20px 0;
    color: #E65628;
    font-weight: bold;
    font-size: 25px;
}

.best-cap p {
    color: #FDFDFB;
    margin-bottom: 70px;
}

.contact-cap {
    width: 45%;
}

.contact {
    background-color: #f8f8f8;
}

.contact .container {
    padding: 80px 0;
    overflow: auto;
}

.contact-cap .small-line {
    width: 15%;
    margin-left: 0;
}

.contact-cap .contact-cap-items {
    text-align: left;
    margin-top: 65px;
}

.contact-cap .contact-cap-items .contact-cap-item .item-img {
    width: 6%;
    float: left;
}

.contact-cap .contact-cap-items .contact-cap-item .item-img img {
    width: 100%;
}

.contact-cap .contact-cap-items .contact-cap-item p {
    float: left;
    margin-left: 20px;
    margin-top: 4px;
}

.contact-map {
    width: 45%;
    float: right;
}

.contact-cap {
    float: left;
}


.details {
    background-color: #403d38;
    padding: 50px 0;
}

.detail {
    width: 23%;
    float: left;
    padding: 13px;
}

hr {
    height: 0.4px;
    background-color: rgba(255, 255, 255, 0.34);
    border: none;
    margin: 10px 0;
}

.details h3 {
    color: white;
    margin-bottom: 30px;
}

.details p,
li {
    color: #969696;
    font-size: 16px;
    line-height: 1.8;
}

.detail04-item .item-img {
    width: 8%;
    float: left;
}

.detail04-item .item-img img {
    width: 100%;
}

.detail04-item p {
    float: left;
    margin-left: 10px;
    line-height: 1.5;
    /* margin-top: 1px; */
    margin-bottom: 0;
}

.footer {
    background-color: #353330;
    overflow: auto;
}

.footer .container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer p {
    margin: 20px 0;
}

.footer-img img {
    width: 20%;
}

.footer-list li {
    width: 15%;
    float: left;
    margin-right: 15px;
}

.footer-list li img {
    width: 100%;
}

.footer-list {
    width: 20%;
    margin: auto;
    padding-left: 8%;
}

.small-line {
    width: 10%;
    margin: 20px auto 0;
    border-bottom: 5px solid #FFE000;
}


.delivery form {
    background-color: #fff;
    margin: 80px auto 0;
    width: 70%;
    border-radius: 10px;
    padding: 20px 10px;
}

.delivery .item input {
    display: block;
    padding: 10px;
    width: 95%;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
}

.delivery .item input:hover {
    border: 2px solid black;
}

.delivery form .submit {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    border-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.delivery form .submit:hover {
    cursor: pointer;
}

